[Unit]
Description=Unit to download hydroweb.xml from BAFU

[Service]
Type=oneshot
ExecStart=curl -o /src/swisshydroapi/hydroweb.xml --anyauth --user "username":"password" https://www.hydrodata.ch/data/plc/xml/hydroweb.xml
