[Unit]
Description=Gunicorn instance to serve swisshydroapi
After=network.target


[Service]
User=http
Group=http
WorkingDirectory=/srv/swisshydroapi
Environment="PATH=/srv/swisshydroapi/venv/bin"
ExecStart=/srv/swisshydroapi/venv/bin/gunicorn --workers 1 --bind unix:/tmp/swisshydroapi.sock -m 007 app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
